body, html {
  height: 100%;
  margin:0;
  

}


body{
  background-color: darkslategray;
}


.parallax1 {
  
  background-image: url("pexels-jermaine-ulinwa-3130928.jpg");
  width: 100%;
  background-color: darkslategray;
  height: 100%;

  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2{
  
  background-image: url("swordman.jpg");
  width: 100%;
  background-color: darkslategray;
  height: 1000px;

  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax3 {
  
  background-image: url("japane.jpg");
  width: 100%;
  background-color: darkslategray;
  height: 100%;

  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax4 {
  
  background-image: url("smoke.jpg");
  width: 100%;
  background-color: darkslategray;
  height: 100%;

  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax5 {
  
  background-image: url("bridge.jpg");
  width: 100%;
  background-color: darkslategray;
  height: 100%;

  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax6 {
  
  background-image: url("tower.jpg");
  width: 100%;
  background-color: darkslategray;
  height: 100%;

  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax7 {
  
  background-image: url("kimono.jpg");
  width: 100%;
  background-color: darkslategray;
  height: 100%;

  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.prvek1{
  height: 150px;
  background-color: darkslategray;
  align-content: center;
  width: 100%;
  font-size:36px;
  display:grid;
  
  
  
}
p {
  font-size: 30px;
  text-align: center;
  margin: 50px;
  padding-bottom: 20px;
  font-family: "papyrus";
  
}
.prvek1 >h1{
  margin:0;
  padding-top: 40px;
  text-align: center;
  font-family:"papyrus";
  grid-template-areas:
"flower swords"
;

}
.blossom{
  width:100px;
  height: 100px;
  margin-right:2500px;
  padding-top:40px;
  padding-bottom:30px;

}
#flower{
  grid-area: flower;

}
#swords{
  grid-area: swords;
}
h1{
  text-align: center;
  font-family:"papyrus";
  font-size: 50px;
  
}
.bg{
  position:absolute;
  max-height: 500px;
  left:0;
  width:100%;
  height:10%;
  object-fit:cover;
  background-repeat:no-repeat;
  background-position: center;
  overflow:hidden;
  max-width:100%;
}
.samurai{
  position:absolute;
  padding-top: 20px;
  right: 100px;
  overflow:hidden;

}
.content{
  position: relative;
  z-index: 10;
  max-width:500px;
  overflow:hidden;
}
.content p,h1{
 padding-bottom: 0px;
 padding-top: 0px;
}

#first-image{
  border: 2px solid black;
  outline-style: solid;
  outline-color: black;
  border-radius: 5px;
  grid-area:vor;
  max-width: 70%;
}
#second-image{
  border: 2px solid black;
  outline-style: solid;
  outline-color: black;
  border-radius: 5px;
  grid-area:bor;
  max-width: 70%;
}
#third-image{
  border: 2px solid black;
  outline-style: solid;
  outline-color: black;
  border-radius: 5px;
  grid-area:tor;
  max-width: 70%;
}
#fourth-image{
  border: 2px solid black;
  outline-style: solid;
  outline-color: black;
  border-radius: 5px;
  grid-area:hor;
  max-width: 70%;
}

.grid-pocket{
  display:grid;
grid-template-areas:
"tor hor"
"bor vor"
;
grid-gap: 10px;

  ;
margin-right:25%;
margin-left:35%;
margin-top: 20px;
margin-bottom: 20px;

}
.bg_white{
background-color: white;
display:flex;
justify-content:center;
align-content: center;


}
.container-graf{
max-width: 1000px;
max-height: 1000px;
padding-left: 780px;
padding-bottom: 100px;



}
/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */


/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none;
  
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
.column > img{
max-width: 30em ;
  max-height: 40em;
  border-style: solid;
  border-width: 5px;
  border-color: darkgrey;
  border-radius:15px ;

}
.row{
  display: flex;
  justify-content: space-evenly;
  margin-left: 150px;
}